<template>
<div id="app">
      <v-app id="inspire">
        <v-navigation-drawer
          fixed
          clipped
          class="grey lighten-4"
          app
          v-model="drawer"
        >
          <v-list
            dense
            class="grey lighten-4"
          >
            <template v-for="(item, i) in items">
              <v-layout
                row
                v-if="item.heading"
                align-center
                :key="i"
              >
                <v-flex xs6>
                  <v-subheader v-if="item.heading">
                    {{ item.heading }}
                  </v-subheader>
                </v-flex>
                <v-flex xs6 class="text-xs-right">
                  <v-btn small flat>edit</v-btn>
                </v-flex>
              </v-layout>
              <v-divider
                dark
                v-else-if="item.divider"
                class="my-3"
                :key="i"
              ></v-divider>
              <v-list-tile
                :key="i"
                v-else
                @click="true"
              >
                <v-list-tile-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title class="grey--text">
                    {{ item.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar color="green" app absolute clipped-left>
          <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
          <span class="title main ml-3 mr-5">Camel<span class="text">Pack</span></span>
          <v-text-field
            solo-inverted
            flat
            label="Search"
            prepend-icon="search"
          ></v-text-field>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-content>
           <router-view></router-view>
        </v-content>
      </v-app>
    </div>
</template>

<style>
  .navigation-drawer__border {
    display: none;
  }

  .title.main .text {
    font-weight: 400;
    color: white !important;
  }
</style>

<script>
export default {
   data: () => ({
      drawer: null,
      items: [
        { icon: 'lightbulb_outline', text: 'Contexts' },
        { divider: true },
        { icon: 'settings', text: 'Settings' },

      ]
    }), 
}
</script>

